{% extends "app/base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
      <div class="row">
          <div id="device-add" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="m-t-none m-b" id="add-device-modal-title">添加新设备</h3>

                            <form role="form" id = "add-device-form">
                                <div class="form-group">
                                    <label>设备id：</label>
                                    <input type="text" name="id" placeholder="请输入设备id" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>设备名：</label>
                                    <input type="text" name="device_name" placeholder="请输入设备名" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>房间分配</label>
                                    <select id="roomSelect" class="form-control">

                                    </select>
                                </div>


                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="status" style="margin: 2px 10px 0 -20px" id="statusRadio1" value="1" checked> 启用
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" style="margin: 2px 10px 0 -20px" id="statusRadio2" value="0"> 禁用
                                    </label>
                                </div>
                                <div>
                                    <button id="add-device-btn" type="button" name="save" class="btn btn-sm btn-primary pull-right m-t-n-xs"><strong>提交</strong>
                                    </button>

                                 </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


      <div class="col-md-12">
        <div class="x_panel tile">
          <div class="x_title">
            <h2>设备列表</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                     <li><a onclick="updateDevice()">修改设备</a>
                     </li>
                     <li><a onclick="deleteDevice()">删除设备</a>
                     </li>
                </ul>

            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                  <table id="deviceTable">

                  </table>
          </div>
        </div>
      </div>


    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
    <script src="/static/build/js/table.js"></script>
    <script src="/static/build/js/device/devices.js"></script>
    <script src="/static/build/js/device/add_device.js"></script>
    <script src="/static/build/js/device/edit_device.js"></script>
    <script src="/static/build/js/device/delete_device.js"></script>
{% endblock javascripts %}



