{% extends "app/base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>User Profile</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>User Report <small>Activity report</small></h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="/static/images/img.jpg" alt="Avatar" title="Change the avatar">
                  </div>
                </div>
                <div id="username">
                    <h3>{{ request.session.user_name }}</h3>
                </div>
                    <ul class="list-unstyled user_data">
                    <li id="phone">
                       <p> {{ request.session.phone }} </p>
                    </li>
                  <li id ="email" class="m-top-xs">
                    <p>{{ request.session.email }} </p>
                  </li>
                </ul>
                  <div class="edit__">
                <button class="btn btn-success"  id="editPro" ><i class="fa fa-edit m-right-xs"></i>Edit Profile</button>
                </div>
                      <br/>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- morris.js -->
  <script src="/static/vendors/raphael/raphael.min.js"></script>
  <script src="/static/vendors/morris.js/morris.min.js"></script>
    <script>
        $("#editPro").click(function(){
            $("#username h3").remove();
            $("#phone p").remove();
            $("#email p").remove();
            var input_username = document.createElement("input");
            var input_phone = document.createElement("input");
            var input_email = document.createElement("input");
            input_username.setAttribute("class", 'form-control');
            input_phone.setAttribute("class", 'form-control');
            input_email.setAttribute("class", 'form-control');
            input_username.setAttribute("id", "username_edit");
            input_phone.setAttribute("id", "phone_edit");
            input_email.setAttribute("id", "email_edit");
            input_username.setAttribute("value", "{{ request.session.user_name }}");
            input_phone.setAttribute("value", "{{ request.session.phone }}");
            input_email.setAttribute("value", "{{ request.session.email }}");

            $("#username").append(input_username);
            $("#email").append(input_phone);
            $("#phone").append(input_email);
            $("#editPro").remove();
            $(".edit__").html("<button class=\"btn btn-success\"  id=\"savePro\" onclick=\"savePro()\" ><i class=\"fa fa-edit m-right-xs\"></i>Save Profile</button>")
        });
        function savePro(){
            var username = $("#username_edit").val();
            var phone = $("#phone_edit").val();
            var email = $("#email_edit").val();
            $.ajax({
                url: "/editProfile/",
                type: "POST",
                data: JSON.stringify({"username":username, "phone":phone, "email":email}),
                contentType:"application/json",
                success:function(result){
                    if(result == 200){
                        console.log("hello");
                        window.location.href="/profile/";
                    }
                }
            });
        }

    </script>

{% endblock javascripts %}